@model EasyArchive.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Aluno: @Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RM)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlunoId" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
