@model IEnumerable<EasyArchive.Models.Aluno>

@{
    ViewData["Title"] = "Index - Alunos";
}

<h1>Alunos</h1>

<p>
    <a asp-action="Create" class="btn btn-conf">Registrar Novo</a>
</p>

<form asp-controller="Alunos" asp-action="Buscar" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="termo" class="form-control" placeholder="Buscar aluno..." value=@ViewData["termoBusca"] />
        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </div>
</form>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RM)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlunoId" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AlunoId" class="btn btn-outline-info"><i class="bi bi-info-square"></i> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlunoId" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
