@model IEnumerable<EasyArchive.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Aluno</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RM)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AlunoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AlunoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
