@model IEnumerable<EasyArchive.Models.Emprestimo>

@{
    ViewData["Title"] = "Index - Empréstimos";
}

<h1>Empréstimos</h1>

<p>
    <a asp-action="Create" class="btn btn-conf">Registrar Novo</a>
</p>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                Data do Empréstimo
            </th>
            <th>
                Data de Devolução
            </th>
            <th>
                Emprestado?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aluno.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Livro.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEmprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
                <td class="text-cen">
                    @Html.DisplayFor(modelItem => item.Livro.Emprestado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmprestimoId" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EmprestimoId" class="btn btn-outline-info"><i class="bi bi-info-square"></i> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmprestimoId" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
